{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Jméno">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Doručovací informace:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Adresa">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="Město">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="Stát">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="PSČ">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Pokračovat">
            </form>

		</div>
		
	</div>
    
    <br>
    <div class="box-element hidden" id="payment-info">
        <small>Možnosti platby</small>
    </div>

	<div class="col-lg-6">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Zpět do košíku</a>
            <hr>
            <h3>Přehled objednávky</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>{{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Položky:   {{order.get_cart_items}}</h5>
            <h5>Celkem:   {{order.get_cart_total|floatformat:2}} Kč</h5>
        </div>
    </div>
</div>
</div>

{% endblock content %}
